In [2]:
import pandas as pd 
import numpy as np

In [4]:
path = '../data/raw/train.csv'
path_test = '../data/processed/test_clean.csv'

In [7]:
train = pd.read_csv(path)

In [15]:
train.iloc[5]["Input"]

"Table Name: department (creation (object), department_id (object))\n Table Name: management (department_id (object), head_id (object))\n Table Name: head (head_id (object), born_state (object))\nWhat are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?"

In [13]:
train

,Input,Pandas Query
0,Table Name: head (age (int64))\nHow many heads...,count = head[head['age'] > 56].shape[0]
1,"Table Name: head (name (object), born_state (o...","result = head.sort_values(by='age', ascending=..."
2,Table Name: department (budget_in_billions (in...,result = department['budget_in_billions'].agg(...
3,"Table Name: department (num_employees (int64),...",result = department[(department['num_employees...
4,"Table Name: head (name (object), born_state (o...",result = head[head['born_state'] > 'california...
...,...,...
57504,"Table Name: table_name_6 (venue (object), date...",result = table_name_6[table_name_6['date'] == ...
57505,"Table Name: table_name_23 (driver (object), ti...",result = table_name_23[table_name_23['time_ret...
57506,"Table Name: table_name_22 (grid (object), team...",result = table_name_22[table_name_22['team'] =...
57507,"Table Name: table_name_17 (grid (object), car_...",result = table_name_17[table_name_17['car_no']...
57508,"Table Name: table_name_53 (grid (object), time...",result = table_name_53[table_name_53['time_ret...

In [16]:
# find maximum length of input
max_length = train["Input"].apply(lambda x: len(x.split())).max()
print("Maximum length of input:", max_length)
# find maximum length of output
max_length_output = train["Pandas Query"].apply(lambda x: len(x.split())).max()
print("Maximum length of output:", max_length_output)

Maximum length of input: 57
Maximum length of output: 33

In [6]:
test = pd.read_csv(path_test)

In [8]:
num = 260
input = test.iloc[num]["Input"]
print(f"{input}")
print("==================")
print(test.iloc[num]["Pandas Query"])

table: table_name_9 (races : int64 , series : object , podiums : object)
question: What is the sum of Races, when Series is Toyota Racing Series, and when Podiums is greater than 3?
==================
result = table_name_9[table_name_9['series'] > 3][['sum(races)']]

In [57]:
test.head()

,Input,Pandas Query
0,table: head (age : int64)\nquestion: How many ...,count = head[head['age'] > 56].shape[0]
1,"table: head (name : object , born_state : obje...","result = head.sort_values(by='age', ascending=..."
2,table: department (budget_in_billions : int64)...,result = department['budget_in_billions'].agg(...
3,"table: department (num_employees : int64 , ran...",result = department[(department['num_employees...
4,"table: head (name : object , born_state : obje...",result = head[head['born_state'] > 'california...

In [52]:
import re

def clean_schema(text):
    """Convert schema format from 'Table Name: table (field (type))' to 'table: table (field : type)'"""
    
    # 1. Normalize the table name prefix
    text = text.strip().replace("Table Name:", "table:")
    
    # 2. Replace all (type) with : type
    text = re.sub(r'(\w+)\s*\(\s*(\w+)\s*\)', r'\1 : \2', text)
    
    # 3. Fix spacing around commas
    text = re.sub(r'\s*,\s*', ' , ', text)
    
    return text

In [53]:
input_text = "Table Name: department (creation (object) , department_id (object))"
output_text = clean_schema(input_text)
print(output_text)
# Output: "table: department (creation : object , department_id : object)"

table: department (creation : object , department_id : object)

In [9]:
# results

In [3]:
result_path = '../results/eval_predictions.csv'
results = pd.read_csv(result_path)

In [4]:
num = 5
input = results.iloc[num]["Ground_Truth"]
print(f"{input}")
print("==================")
print(results.iloc[num]["Prediction"])

result = table_name_89[table_name_89['name'] > 2005][['sum(version)']]
==================
result = from[from['name'] > 2005][['sum(version)']]